In [1]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()

In [3]:
cd ..

/Users/valerie/Desktop/DataScience/job-application/coding_assignments/ml/dbs_ds/stage1_sect_b

In [5]:
create_connection("music.db")

2.6.0

In [1]:
cd /Users/valerie/Desktop/DataScience/job-application/coding_assignments/ml/dbs_ds/fastapi_ml_pytest

/Users/valerie/Desktop/DataScience/job-application/coding_assignments/ml/dbs_ds/fastapi_ml_pytest

In [8]:
import sqlite3
import pandas as pd
con = sqlite3.connect("./db/music.db")

In [9]:

cursor = con.cursor()
sql='''
SELECT * FROM titles_and_genre limit 5
'''
sample_df = pd.read_sql_query(sql, con)

In [10]:
sample_df

   trackID                  title      predictions
0     6732  You Get What You Give            metal
1     5415                Greedee            metal
2     7757        Wonderful World             folk
3     1854              Michoacan             folk
4     4942                HUSTLER  soul and reggae

In [11]:
sample_df['trackID'].values

array([6732, 5415, 7757, 1854, 4942])

In [12]:
sample_df['trackID'].values.tolist()

[6732, 5415, 7757, 1854, 4942]

In [13]:
pending_list_id = [5415, 123]
list_id_in_db = [6732, 5415, 7757, 1854, 4942, 2325, 3553, 4458, 1650, 4372, 906, 3798, 940, 1562, 8310, 6383, 3295, 6281, 5368, 4065, 7701, 1751, 8074, 1971, 7416, 3691, 7751, 6589, 4096, 2145, 7137, 3458, 8323, 7634, 6860, 2882, 6936, 88, 1730, 4022, 5385, 6285, 6737, 2938, 802, 3245, 579, 7547, 311, 5780, 7928, 7889, 1892, 2409, 2410, 2670, 1895, 7158, 4996, 7461, 4335, 7806, 6578, 52, 2018, 4548, 2623, 4920, 2684, 5912, 1507, 251, 8076, 3396, 4533, 3257, 6241, 3661, 7353, 1291, 4428, 3935, 2154, 7458, 5001, 8278, 2307, 4894, 5597, 1362, 791, 4425, 6005, 6705, 4608, 503, 611, 237, 3111, 4260, 7812, 3634, 5105, 6778, 6155, 5501, 321, 1377, 8392, 1155, 7296, 1040, 8292, 5546, 1656, 2028, 1889, 5591, 5852, 4948, 2514, 3484, 6601, 8331, 7793, 3439, 6236, 2935, 3620, 2005, 1560, 4126, 7558, 7436, 2243, 8175, 127, 6528, 7167, 7081, 4543, 7489, 6604, 6676, 6663, 7127, 755, 4021, 6615, 8377, 1301, 7249, 2847, 1328, 6091, 4809, 5085, 2340, 2596, 2665, 2454, 4979, 1417, 4641, 3982, 4177, 5582, 3001, 4563, 5096, 8443, 2254, 4013, 6203, 2933, 7803, 5054, 2386, 7460, 3867, 4876, 7686, 3296, 6889, 5188, 2372, 6130, 1084, 3428, 1080, 3702, 2534, 6306, 634, 3817, 2089, 1427, 723, 4949, 937, 1225, 3860, 3174, 8032, 943, 5310, 235, 4170, 1493, 152, 1380, 4624, 4972, 6114, 6159, 113, 5338, 3187, 740, 4209, 2193, 7142, 834, 7480, 1591, 4469, 2862, 8452, 1393, 662, 2541, 1643, 4089, 443, 7970, 4381, 4020, 320, 82, 2061, 6953, 2081, 7618, 4782, 2833, 904, 4440, 7671, 5384, 4713, 455, 5216, 3960, 4964, 8258, 935, 2641, 5191, 3230, 6182, 4866, 1549, 7068, 2900, 2246, 3737, 3266, 5376, 5800, 1888, 4373, 4993, 3270, 5958, 2688, 7606, 7075, 6770, 5328, 3160, 1580, 7096, 3408, 3641, 7990, 4175, 6164, 3348, 7330, 7777, 7391, 4488, 7443, 1097, 6624, 5034, 1629, 6028, 6536, 4191, 2547, 3655, 3757, 5029, 3220, 329, 8118, 4555, 954, 5446, 7680, 4053, 6448, 3317, 1007, 1741, 8106, 7818, 4691, 4709, 5586, 1958, 4850, 493, 4336, 1090, 6078, 570, 4032, 5419, 2648, 7906, 4216, 1663, 6026, 1705, 4647, 427, 3028, 6394, 6291, 3572, 7823, 8476, 462, 7251, 8394, 6118, 4507, 3400, 693, 4601, 5773, 5984, 7267, 146, 1609, 5157, 7792, 5064, 163, 2582, 4976, 4451, 4247, 5061, 8289, 3027, 2091, 2013, 574, 4750, 2002, 2069, 7174, 3490, 7494, 2906, 7747, 8031, 4865, 3051, 2479, 4789, 7993, 5313, 722, 4627, 2837, 7742, 2349, 3993, 6689, 6469, 2821, 8355, 2286, 5066, 5266, 1837, 7192, 3122, 5947, 6301, 6971, 7555, 1186, 8532, 6503, 1831, 7314, 5648, 4590, 2490, 2159, 1475, 2215, 2944, 450, 6989, 1844, 106, 7374, 186, 4758, 2231, 2925, 2075]
# list_id_to_append [4096, 7174, 6155, 2061, 6159, 1040, 6164, 2069, 7192, 2075, 4126, 2081, 5157, 6182, 3111, 2089, 2091, 3122, 52, 1080, 6203, 1084, 8258, 1090, 5188, 5191, 1097, 4170, 4175, 4177, 82, 7249, 7251, 8278, 88, 3160, 6236, 4191, 5216, 6241, 2145, 8289, 8292, 7267, 3174, 2154, 106, 2159, 113, 4209, 3187, 8310, 4216, 127, 7296, 8323, 1155, 6281, 8331, 6285, 2193, 146, 6291, 5266, 7314, 3220, 4247, 152, 6301, 3230, 6306, 163, 4260, 8355, 7330, 2215, 1186, 3245, 2231, 8377, 186, 3257, 7353, 5310, 5313, 3266, 2243, 2246, 3270, 8392, 1225, 8394, 2254, 7374, 5328, 5338, 3295, 3296, 7391, 235, 237, 2286, 6383, 4335, 4336, 3317, 7416, 5368, 6394, 251, 8443, 5376, 2307, 8452, 5384, 5385, 1291, 7436, 7443, 4372, 2325, 4373, 3348, 1301, 8476, 4381, 7458, 2340, 7460, 7461, 5419, 2349, 6448, 1328, 311, 7480, 320, 321, 7489, 2372, 6469, 3396, 5446, 7494, 4425, 329, 3400, 4428, 3408, 2386, 1362, 8532, 4440, 1377, 4451, 3428, 1380, 6503, 2409, 4458, 2410, 3439, 1393, 4469, 7547, 5501, 6528, 3458, 7555, 7558, 4488, 6536, 1417, 1427, 2454, 4507, 3484, 3490, 5546, 427, 2479, 6578, 4533, 7606, 2490, 443, 6589, 4543, 450, 7618, 4548, 1475, 455, 6601, 4555, 6604, 462, 5582, 2514, 4563, 7634, 5586, 1493, 6615, 5591, 5597, 6624, 3553, 1507, 2534, 2541, 493, 4590, 2547, 3572, 503, 7671, 4601, 4608, 7680, 7686, 6663, 1549, 4624, 5648, 4627, 6676, 7701, 2582, 1560, 1562, 4641, 6689, 2596, 3620, 4647, 1580, 6705, 3634, 1591, 3641, 570, 574, 2623, 7742, 579, 7747, 7751, 3655, 1609, 6732, 7757, 3661, 6737, 2641, 4691, 2648, 1629, 7777, 611, 4709, 2665, 4713, 3691, 1643, 2670, 7792, 7793, 6770, 1650, 3702, 1656, 6778, 634, 2684, 7803, 7806, 1663, 2688, 7812, 7818, 5773, 4750, 7823, 5780, 662, 4758, 3737, 5800, 1705, 3757, 4782, 693, 4789, 1730, 4809, 6860, 1741, 7889, 722, 723, 3798, 1751, 5852, 7906, 740, 6889, 3817, 4850, 755, 7928, 4865, 4866, 2821, 4876, 2833, 3860, 2837, 791, 6936, 5912, 3867, 4894, 2847, 802, 7970, 1831, 6953, 1837, 2862, 1844, 7990, 4920, 7993, 6971, 5947, 1854, 2882, 834, 5958, 6989, 4942, 4948, 4949, 2900, 2906, 3935, 8032, 1889, 1888, 5984, 4964, 1892, 8031, 1895, 4972, 2925, 4976, 4979, 2933, 6005, 2935, 3960, 2938, 2944, 4993, 4996, 904, 5001, 906, 8074, 6026, 8076, 6028, 3982, 3993, 7068, 7075, 5029, 1958, 935, 7081, 937, 5034, 940, 8106, 4013, 943, 1971, 4020, 4021, 4022, 8118, 7096, 3001, 954, 5054, 6078, 4032, 5061, 5064, 5066, 6091, 2002, 3027, 3028, 2005, 4053, 7127, 5085, 2013, 7137, 4065, 2018, 6114, 7142, 6118, 5096, 3051, 2028, 1007, 8175, 5105, 6130, 7158, 4089, 7167]

In [14]:
list(set(list_id_in_db).difference(set(pending_list_id)))

[4096,
 7174,
 6155,
 2061,
 6159,
 1040,
 6164,
 2069,
 7192,
 2075,
 4126,
 2081,
 5157,
 6182,
 3111,
 2089,
 2091,
 3122,
 52,
 1080,
 6203,
 1084,
 8258,
 1090,
 5188,
 5191,
 1097,
 4170,
 4175,
 4177,
 82,
 7249,
 7251,
 8278,
 88,
 3160,
 6236,
 4191,
 5216,
 6241,
 2145,
 8289,
 8292,
 7267,
 3174,
 2154,
 106,
 2159,
 113,
 4209,
 3187,
 8310,
 4216,
 127,
 7296,
 8323,
 1155,
 6281,
 8331,
 6285,
 2193,
 146,
 6291,
 5266,
 7314,
 3220,
 4247,
 152,
 6301,
 3230,
 6306,
 163,
 4260,
 8355,
 7330,
 2215,
 1186,
 3245,
 2231,
 8377,
 186,
 3257,
 7353,
 5310,
 5313,
 3266,
 2243,
 2246,
 3270,
 8392,
 1225,
 8394,
 2254,
 7374,
 5328,
 5338,
 3295,
 3296,
 7391,
 235,
 237,
 2286,
 6383,
 4335,
 4336,
 3317,
 7416,
 5368,
 6394,
 251,
 8443,
 5376,
 2307,
 8452,
 5384,
 5385,
 1291,
 7436,
 7443,
 4372,
 2325,
 4373,
 3348,
 1301,
 8476,
 4381,
 7458,
 2340,
 7460,
 7461,
 5419,
 2349,
 6448,
 1328,
 311,
 7480,
 320,
 321,
 7489,
 2372,
 6469,
 3396,
 5446,
 7494,
 4425,
 329,
 3400,
 4428,
 3408,
 2386,
 1362,
 8532,
 4440,
 1377,
 4451,
 3428,
 1380,
 6503,
 2409,
 4458,
 2410,
 3439,
 1393,
 4469,
 7547,
 5501,
 6528,
 3458,
 7555,
 7558,
 4488,
 6536,
 1417,
 1427,
 2454,
 4507,
 3484,
 3490,
 5546,
 427,
 2479,
 6578,
 4533,
 7606,
 2490,
 443,
 6589,
 4543,
 450,
 7618,
 4548,
 1475,
 455,
 6601,
 4555,
 6604,
 462,
 5582,
 2514,
 4563,
 7634,
 5586,
 1493,
 6615,
 5591,
 5597,
 6624,
 3553,
 1507,
 2534,
 2541,
 493,
 4590,
 2547,
 3572,
 503,
 7671,
 4601,
 4608,
 7680,
 7686,
 6663,
 1549,
 4624,
 5648,
 4627,
 6676,
 7701,
 2582,
 1560,
 1562,
 4641,
 6689,
 2596,
 3620,
 4647,
 1580,
 6705,
 3634,
 1591,
 3641,
 570,
 574,
 2623,
 7742,
 579,
 7747,
 7751,
 3655,
 1609,
 6732,
 7757,
 3661,
 6737,
 2641,
 4691,
 2648,
 1629,
 7777,
 611,
 4709,
 2665,
 4713,
 3691,
 1643,
 2670,
 7792,
 7793,
 6770,
 1650,
 3702,
 1656,
 6778,
 634,
 2684,
 7803,
 7806,
 1663,
 2688,
 7812,
 7818,
 5773,
 4750,
 7823,
 5780,
 662,
 4758,
 3737,
 5800,
 1705,
 3757,
 4782,
 693,
 4789,
 1730,
 4809,
 6860,
 1741,
 7889,
 722,
 723,
 3798,
 1751,
 5852,
 7906,
 740,
 6889,
 3817,
 4850,
 755,
 7928,
 4865,
 4866,
 2821,
 4876,
 2833,
 3860,
 2837,
 791,
 6936,
 5912,
 3867,
 4894,
 2847,
 802,
 7970,
 1831,
 6953,
 1837,
 2862,
 1844,
 7990,
 4920,
 7993,
 6971,
 5947,
 1854,
 2882,
 834,
 5958,
 6989,
 4942,
 4948,
 4949,
 2900,
 2906,
 3935,
 8032,
 1889,
 1888,
 5984,
 4964,
 1892,
 8031,
 1895,
 4972,
 2925,
 4976,
 4979,
 2933,
 6005,
 2935,
 3960,
 2938,
 2944,
 4993,
 4996,
 904,
 5001,
 906,
 8074,
 6026,
 8076,
 6028,
 3982,
 3993,
 7068,
 7075,
 5029,
 1958,
 935,
 7081,
 937,
 5034,
 940,
 8106,
 4013,
 943,
 1971,
 4020,
 4021,
 4022,
 8118,
 7096,
 3001,
 954,
 5054,
 6078,
 4032,
 5061,
 5064,
 5066,
 6091,
 2002,
 3027,
 3028,
 2005,
 4053,
 7127,
 5085,
 2013,
 7137,
 4065,
 2018,
 6114,
 7142,
 6118,
 5096,
 3051,
 2028,
 1007,
 8175,
 5105,
 6130,
 7158,
 4089,
 7167]

In [15]:
[trackID for trackID in pending_list_id if trackID not in list_id_in_db]

[123]

In [3]:
cursor = con.cursor()
sql='''
SELECT COUNT(1) FROM titles_and_genre
'''
sample_df = pd.read_sql_query(sql, con)

In [7]:
sample_df

   trackID    title predictions
0     5415  Greedee       metal

In [9]:
con = sqlite3.connect("./db/music.db")
cur = con.cursor() 
cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
print(cur.fetchall())

[('titles_and_genre',)]

In [10]:
cursor = con.cursor()
sql='''
SELECT * FROM titles_and_genre limit 1
'''
sample_df = pd.read_sql_query(sql, con)
sample_df.head()

   index  trackID                  title predictions
0      0     6732  You Get What You Give       metal

In [11]:
json = [
  {
    "predictions": "metal"
  },
  {
    "predictions": "folk"
  },
  {
    "predictions": "soul and reggae"
  },
  {
    "predictions": "pop"
  },
  {
    "predictions": "classic pop and rock"
  },
  {
    "predictions": "dance and electronica"
  },
  {
    "predictions": "punk"
  },
  {
    "predictions": "jazz and blues"
  }
]
json['predictions']

TypeError: list indices must be integers or slices, not str

In [12]:
lst=[]
for item in json:
    for genre in item['predictions']:
        lst.append(genre)
lst

['m',
 'e',
 't',
 'a',
 'l',
 'f',
 'o',
 'l',
 'k',
 's',
 'o',
 'u',
 'l',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'r',
 'e',
 'g',
 'g',
 'a',
 'e',
 'p',
 'o',
 'p',
 'c',
 'l',
 'a',
 's',
 's',
 'i',
 'c',
 ' ',
 'p',
 'o',
 'p',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'r',
 'o',
 'c',
 'k',
 'd',
 'a',
 'n',
 'c',
 'e',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'e',
 'l',
 'e',
 'c',
 't',
 'r',
 'o',
 'n',
 'i',
 'c',
 'a',
 'p',
 'u',
 'n',
 'k',
 'j',
 'a',
 'z',
 'z',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'b',
 'l',
 'u',
 'e',
 's']

In [13]:
[item['predictions'] for item in json]

['metal',
 'folk',
 'soul and reggae',
 'pop',
 'classic pop and rock',
 'dance and electronica',
 'punk',
 'jazz and blues']

In [5]:
json = [{'trackID': 6732, 'title': 'Princess Black', 'predictions': 'soul and reggae'}, {'trackID': 4451, 'title': 'Cry Dignity', 'predictions': 'metal'}]
[item['predictions'] for item in json]

['soul and reggae', 'metal']

In [4]:
response = [('metal',), ('folk',), ('soul and reggae',), ('pop',), ('classic pop and rock',), ('dance and electronica',), ('punk',), ('jazz and blues',)]

response.json()

AttributeError: 'list' object has no attribute 'json'

In [2]:
cd ..

/Users/valerie/Desktop/DataScience/job-application/coding_assignments/ml/dbs_ds/stage1_sect_b

In [ ]:
attributes_w_inf_mean = []
for col in master_df1.columns:
#     print(col)
#     print()
    if master_df1[col].mean() == np.inf:
        attributes_w_inf_mean.append(col)
    elif master_df1[col].mean() == -np.inf:
        attributes_w_inf_mean.append(col)
attributes_w_inf_mean

In [ ]:
# find cols with inf values
inf_col = master_df1.columns.to_series()[np.isinf(master_df1).any()].values.tolist()